.toplevel_page_tribe-settings .wp-menu-image img {
	width: 13px;
	height: auto;
}

.update-message.tribe {
	margin: 20px 20px 10px 0;
	background: #FFFBE4;
	border: 1px solid #e6db55;
	padding: 7px;
}

.note {
	background: #fffbcc;
	border: 1px solid #e6db55;
	border-radius: 5px;
	padding: 0 1em;
	margin: 0 15px 0 0;
}

body.widgets-php #feature-box > div.visible.first {
	width: 400px;
	float: right;
	margin-right: 15px;
}

body.widgets-php #feature-box .clearboth {
	overflow: hidden;
}

body.widgets-php #feature-box .clearboth img {
	margin-right: 10px;
}

#disable-markup {
	margin-top: 1px;
}
