#header, #footer {
	background: #002299 url(blue/head.png) repeat-x;
}
a, a:link, a:visited, .postmeta a:link, .postmeta a:visited, .postinfo a:link, .postinfo a:visited,
.post-title, .post-title a:link, .post-title a:visited, .page-title, #comments h3, #respond h3 {
	color: #002299;
}
.wp-pagenavi .current {
	background: #002299;
}